
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
}

.nearby-networks {
    width: 80%;
    margin: 30px auto; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.nearby-networks h2 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px; 
}


#signal-filter {
    padding: 10px;
    margin-bottom: 20px; 
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead th {
    background-color: #4CAF50; 
    color: white;
    padding: 12px;
    border: 1px solid #ddd;
    position: relative; 
}

tbody td {
    padding: 12px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:hover {
    background-color: #ddd;     
}


@media screen and (max-width: 600px) {
    table {
        font-size: 14px;
    }
    thead th, tbody td {
        padding: 8px;
    }
}


.no-networks {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #999; 
}

button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /
}

button:hover {
    background-color: #45a049;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.tooltip:hover .tooltiptext {
    visibility: visible; 
    opacity: 1;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}


.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

